In [30]:
#import packages
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib as mpl
import plotly.express as pe

In [3]:
#import data
df = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/AHI_Microcourse_Visualization/main/Data/Georgia_COVID/Georgia_COVID-19_Case_Data.csv')
df

,OBJECTID,COUNTY,CNTY_FIPS,DATESTAMP,C_New,C_Cum,D_New,D_Cum,H_New,H_Cum,...,C_His,C_NonHis,C_EthUnk,GlobalID,C_NEW_PERCT_CHG,D_NEW_PERCT_CHG,C_NEW_7D_MEAN,D_NEW_7D_MEAN,C_NEW_7D_PERCT_CHG,D_NEW_7D_PERCT_CHG
0,1,BALDWIN,1003,2021/04/13 03:59:59+00,4,3795,0,115,0,318,...,106,2897,792,{6D1CBB20-5FCF-4FA3-9112-504CF3A93EE8},NaN,NaN,1.857143,0.0,NaN,NaN
1,2,UNKNOWN,1,2021/02/04 05:00:00+00,4,2158,0,4,0,36,...,80,155,1923,{925F3292-9C8D-420F-9FE5-97E82BC7F8E8},-0.428571,NaN,2.714286,0.0,NaN,NaN
2,3,BALDWIN,1003,2021/04/14 03:59:59+00,2,3797,0,115,0,318,...,106,2898,793,{1F195651-C20F-4B60-98B0-D0481D40F263},NaN,NaN,1.857143,0.0,NaN,NaN
3,4,UNKNOWN,1,2021/02/05 05:00:00+00,1,2159,0,4,0,36,...,80,156,1923,{C614DA89-4EAB-4807-9FDE-7661AEFCC144},NaN,NaN,2.857143,0.0,NaN,NaN
4,5,BALDWIN,1003,2021/04/15 03:59:59+00,0,3797,0,115,0,318,...,106,2898,793,{EBFFE6DD-9C7F-44F1-B19A-AC69E6EB4093},NaN,NaN,1.857143,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91687,91688,WAYNE,49055,2021/07/15 03:59:59+00,0,2809,0,81,0,281,...,108,2070,631,{D678A5A4-8531-4A06-B71A-A757A4933957},NaN,NaN,0.142857,0.0,NaN,NaN
91688,91689,WAYNE,49055,2021/07/16 03:59:59+00,0,2809,0,81,0,281,...,108,2070,631,{6F4E3A27-D6A2-422F-B7CA-16595DA36061},NaN,NaN,0.000000,0.0,NaN,NaN
91689,91690,WAYNE,49055,2021/07/17 03:59:59+00,0,2809,0,81,0,281,...,108,2070,631,{CE952CC5-B75F-45E7-BC12-954B1EE71F31},NaN,NaN,0.000000,0.0,NaN,NaN
91690,91691,WAYNE,49055,2021/07/18 03:59:59+00,0,2809,0,81,0,281,...,108,2070,631,{D07AF78B-C535-4F99-8E04-AED183809453},NaN,NaN,0.000000,0.0,NaN,NaN
91691,91692,WAYNE,49055,2021/07/19 03:59:59+00,0,2809,0,81,0,281,...,108,2070,631,{42B36DB7-6C0D-4A0D-AE78-E269A191E20E},NaN,NaN,0.000000,0.0,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91692 entries, 0 to 91691
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OBJECTID            91692 non-null  int64
 1   COUNTY              91692 non-null  object
 2   CNTY_FIPS           91692 non-null  int64
 3   DATESTAMP           91692 non-null  object
 4   C_New               91692 non-null  int64
 5   C_Cum               91692 non-null  int64
 6   D_New               91692 non-null  int64
 7   D_Cum               91692 non-null  int64
 8   H_New               91692 non-null  int64
 9   H_Cum               91692 non-null  int64
 10  C_Rate              91692 non-null  int64
 11  C_Female            91692 non-null  int64
 12  C_Male              91692 non-null  int64
 13  C_SexUnkn           91692 non-null  int64
 14  C_UCon_Yes          91692 non-null  int64
 15  C_UCon_No           91692 non-null  int64
 16  C_UCon_Unk          91692 non-null  int64
 17  C_Age_0_4           91692 non-null  int64
 18  C_Age_5_14          91692 non-null  int64
 19  C_Age_15_24         91692 non-null  int64
 20  C_Age_25_34         91692 non-null  int64
 21  C_Age_35_44         91692 non-null  int64
 22  C_Age_45_54         91692 non-null  int64
 23  C_Age_55_64         91692 non-null  int64
 24  C_Age_65_74         91692 non-null  int64
 25  C_Age_75_84         91692 non-null  int64
 26  C_Age_85plus        91692 non-null  int64
 27  C_Age_Unkn          91692 non-null  int64
 28  C_Age_0             91692 non-null  int64
 29  C_Age_20            91692 non-null  int64
 30  C_RaceWh            91692 non-null  int64
 31  C_RaceBl            91692 non-null  int64
 32  C_RaceAs            91692 non-null  int64
 33  C_RaceOth           91692 non-null  int64
 34  C_RaceUnk           91692 non-null  int64
 35  C_His               91692 non-null  int64
 36  C_NonHis            91692 non-null  int64
 37  C_EthUnk            91692 non-null  int64
 38  GlobalID            91692 non-null  object
 39  C_NEW_PERCT_CHG     31895 non-null  float64
 40  D_NEW_PERCT_CHG     1149 non-null   float64
 41  C_NEW_7D_MEAN       91692 non-null  float64
 42  D_NEW_7D_MEAN       91692 non-null  float64
 43  C_NEW_7D_PERCT_CHG  36111 non-null  float64
 44  D_NEW_7D_PERCT_CHG  1276 non-null   float64
dtypes: float64(6), int64(36), object(3)
memory usage: 31.5+ MB

In [8]:
df['COUNTY']

0        BALDWIN
1        UNKNOWN
2        BALDWIN
3        UNKNOWN
4        BALDWIN
          ...
91687      WAYNE
91688      WAYNE
91689      WAYNE
91690      WAYNE
91691      WAYNE
Name: COUNTY, Length: 91692, dtype: object

In [43]:
df['DATESTAMP_MOD'] = df['DATESTAMP']
print(df['DATESTAMP_MOD'].head(10))
print(df['DATESTAMP_MOD'].dtypes)

df['DATESTAMP_MOD'] = pd.to_datetime(df['DATESTAMP_MOD'])
df['DATESTAMP_MOD'].dtypes

df[['DATESTAMP', 'DATESTAMP_MOD']]

df['DATESTAMP_MOD_DAY'] = df['DATESTAMP_MOD'].dt.date
df['DATESTAMP_MOD_DAY']

df['DATESTAMP_MOD_YEAR'] = df['DATESTAMP_MOD'].dt.year
df['DATESTAMP_MOD_MONTH'] = df['DATESTAMP_MOD'].dt.month

df['DATESTAMP_MOD_YEAR']

df['DATESTAMP_MOD_MONTH']
df

df['DATESTAMP_MOD_MONTH_YEAR'] = df['DATESTAMP_MOD'].dt.to_period(
    'M')
df['DATESTAMP_MOD_MONTH_YEAR'].sort_values()
df

df['DATESTAMP_MOD_WEEK'] = df['DATESTAMP_MOD'].dt.week
df['DATESTAMP_MOD_WEEK']

df['DATESTAMP_MOD_QUARTER'] = df['DATESTAMP_MOD'].dt.to_period(
    'Q')
df['DATESTAMP_MOD_QUARTER']

df['DATESTAMP_MOD_QUARTER'].sort_values()

df['DATESTAMP_MOD_DAY_STRING'] = df['DATESTAMP_MOD_DAY'].astype(
    str)
df['DATESTAMP_MOD_WEEK_STRING'] = df['DATESTAMP_MOD_WEEK'].astype(
    str)
df['DATETIME_STRING'] = df['DATESTAMP_MOD_MONTH_YEAR'].astype(
    str)
df

0    2021/04/13 03:59:59+00
1    2021/02/04 05:00:00+00
2    2021/04/14 03:59:59+00
3    2021/02/05 05:00:00+00
4    2021/04/15 03:59:59+00
5    2021/02/06 05:00:00+00
6    2021/02/07 05:00:00+00
7    2021/04/16 03:59:59+00
8    2021/04/17 03:59:59+00
9    2021/02/08 05:00:00+00
Name: DATESTAMP_MOD, dtype: object
object

/Users/miles/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/datetimes.py:1162: UserWarning:

Converting to PeriodArray/Index representation will drop timezone information.

/var/folders/sn/w009kb0n6zn_x17gcrqvxt2w0000gn/T/ipykernel_52370/4178407091.py:26: FutureWarning:

Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.

/Users/miles/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/datetimes.py:1162: UserWarning:

Converting to PeriodArray/Index representation will drop timezone information.

,OBJECTID,COUNTY,CNTY_FIPS,DATESTAMP,C_New,C_Cum,D_New,D_Cum,H_New,H_Cum,...,DATESTAMP_MOD,DATESTAMP_MOD_DAY,DATESTAMP_MOD_YEAR,DATESTAMP_MOD_MONTH,DATESTAMP_MOD_MONTH_YEAR,DATESTAMP_MOD_WEEK,DATESTAMP_MOD_QUARTER,DATESTAMP_MOD_DAY_STRING,DATESTAMP_MOD_WEEK_STRING,DATETIME_STRING
0,1,BALDWIN,1003,2021/04/13 03:59:59+00,4,3795,0,115,0,318,...,2021-04-13 03:59:59+00:00,2021-04-13,2021,4,2021-04,15,2021Q2,2021-04-13,15,2021-04
1,2,UNKNOWN,1,2021/02/04 05:00:00+00,4,2158,0,4,0,36,...,2021-02-04 05:00:00+00:00,2021-02-04,2021,2,2021-02,5,2021Q1,2021-02-04,5,2021-02
2,3,BALDWIN,1003,2021/04/14 03:59:59+00,2,3797,0,115,0,318,...,2021-04-14 03:59:59+00:00,2021-04-14,2021,4,2021-04,15,2021Q2,2021-04-14,15,2021-04
3,4,UNKNOWN,1,2021/02/05 05:00:00+00,1,2159,0,4,0,36,...,2021-02-05 05:00:00+00:00,2021-02-05,2021,2,2021-02,5,2021Q1,2021-02-05,5,2021-02
4,5,BALDWIN,1003,2021/04/15 03:59:59+00,0,3797,0,115,0,318,...,2021-04-15 03:59:59+00:00,2021-04-15,2021,4,2021-04,15,2021Q2,2021-04-15,15,2021-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91687,91688,WAYNE,49055,2021/07/15 03:59:59+00,0,2809,0,81,0,281,...,2021-07-15 03:59:59+00:00,2021-07-15,2021,7,2021-07,28,2021Q3,2021-07-15,28,2021-07
91688,91689,WAYNE,49055,2021/07/16 03:59:59+00,0,2809,0,81,0,281,...,2021-07-16 03:59:59+00:00,2021-07-16,2021,7,2021-07,28,2021Q3,2021-07-16,28,2021-07
91689,91690,WAYNE,49055,2021/07/17 03:59:59+00,0,2809,0,81,0,281,...,2021-07-17 03:59:59+00:00,2021-07-17,2021,7,2021-07,28,2021Q3,2021-07-17,28,2021-07
91690,91691,WAYNE,49055,2021/07/18 03:59:59+00,0,2809,0,81,0,281,...,2021-07-18 03:59:59+00:00,2021-07-18,2021,7,2021-07,28,2021Q3,2021-07-18,28,2021-07
91691,91692,WAYNE,49055,2021/07/19 03:59:59+00,0,2809,0,81,0,281,...,2021-07-19 03:59:59+00:00,2021-07-19,2021,7,2021-07,29,2021Q3,2021-07-19,29,2021-07

In [39]:
countlist = ['DEKALB', 'HALL', 'COBB', 'FULTON', 'GWINNETT' ]

In [38]:
countlist

['BALDWIN']

In [10]:
selectCounties = df[df['COUNTY'].isin(countlist)]
len(selectCounties)

566

In [11]:
selectCountyTime = selectCounties

df = length ~90,000

selectCounties = length 566

selectCountyTime = ???/TBD

In [23]:
selectCountyTime = selectCounties

In [56]:
#for some reason this function won't work
selectCountyTime['DATESTAMP_MOD_MONTH_YEAR']

KeyError: 'DATESTAMP_MOD_MONTH_YEAR'